@import url('forum_home_styles.css');


.form-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px;
    /* border-bottom:2px solid rgba(52, 152, 219, 1); */
    background: white;
    border-radius: 12px;

}

.form-header h1 {
    color: var(--text-dark);
    font-size: 28px;
    margin: 0;
}

.welcome-msg {
    color: var(--text-light);
    font-size: 14px;
    margin-top: 5px;
}

.action-btn {
    display: flex;
    gap: 10px;
}

.stat-bar {
    background: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px 30px;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}

.stat-item {
    text-align: center;
}

.stat-num {
    font-size: 20px;
    color: rgb(141, 70, 164);
    font-weight: bold;
}

.stat-label {
    font-size: 12px;
    color: var(--text-light);
    margin-top: 5px;
}

.forum-table {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.forum-table table {
    border-collapse: collapse;
    width: 100%;
}

.forum-table thead {
    background-color: hsl(210, 29%, 29%);
    color: white;
}

.forum-table th{
    padding:15px;
    text-align:left;
    font-weight: 500;
}

.forum-table th:nth-child(1){
    width:40%;
}
.forum-table th:nth-child(2),
.forum-table th:nth-child(3){
    width:15%;
    text-align: center;
}

.forum-table th:nth-child(4){
    width: 20%;
}

.forum-table th:nth-child(5){
    width: 20%;
    text-align: center;
}

.forum-table td {
    padding: 15px;
    border-bottom:1px solid var(--text-light);
}
.forum-table tbody tr:hover{
    background-color:hsl(210, 17%, 98%);
}

.thread-title{
    color:var(--text-dark);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.thread-title:hover{
    color:var(--primary-purple);
}

.category-name{
    display: inline-block;
    background-color:hsl(195, 53%, 94%);
    font-size: 12px;
    color:rgb(128, 177, 203);
    padding: 4px 12px;
    border-radius:12px;
    margin-top:5px;
}

.stat-cell{
    text-align:center;
    color:var(--text-light);
}

.date-cell{
    color:var(--text-light);
    font-size:13px;
}