
@import url('forum_home_styles.css');


:root {
    --primary-purple: #7c3aed;
    --dark-purple: #6d28d9;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --white: #ffffff;
    --light-gray: #f9fafb;
    --bg-gray: #f3f4f6;
    --border-color: #e5e7eb; 
    --error-red: #ef4444;
    --success-green: #10b981;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-gray);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue','Ariel', sans-serif;
}
.main-container{
    max-width: 900px;
    margin: 2rem auto;
    padding:0 1rem;
}

.form-container{
    background-color:var(--white);
    border-radius:12px;
    padding:2rem;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:2rem;
    padding-bottom:1rem;
    border-bottom:2px solid var(--border-color);
}

.form-header h1{
    font-size: 28px;
    color: var(--text-dark);
    display: flex;
    align-items:center;
    gap: 8px;
}

.form-header h1 i{
    font-size:  1.5rem;
}

.btn-back{
    color:var(--text-light);
    text-decoration: none;
    padding: 5px 10px;
    border-radius:6px;
    /* transition: all 0.3s ease; */
    display: flex;
    align-items:center;
    gap:8px;
}

.btn-back:hover{
    color:var(--primary-purple);
    background:rgb(179, 175, 175);
    border:var(--primary-purple) 1px solid;
}

.alert{
    padding:16px;
    border-radius:8px;
    margin-bottom: 24px;
    display: flex;
    align-items:center;
    gap:12px;
}

.alert-error{
    background:#fee2e2;
    color:red;
    border:1px solid #fecaca;
    
}

.create-form{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.form-group label{
    font-weight: 600;
    color:var(--text-dark);
    font-size: 16px;
}

.required{
    color:var(--error-red);
}


.form-group select,.form-group input,.form-group textarea{
    padding:12px;
    border:solid 1px var(--border-color);
    border-radius:8px;
    font-size: 1rem;
    font-family: inherit;
    transition: 0.1s all ease;
}

.form-group select:focus,.form-group input:focus,.form-group textarea:focus{
    outline: none;
    border-color:  var(--primary-purple);
    box-shadow:0 0 0 3px rgba(124, 58, 237, 0.1);
}

.form-group textarea{
    resize: none;
    min-height: 200px;
}

.form-group small{
    font-size: 14px;
    color:var(--text-light);
}

.form-action a{
    font-size: 14px;
}

.from-action{
    display: flex;
    gap:16px;
    margin-top: 1rem;
}

.btn-cancel{
    background-color: var(--light-gray);
    color:var(--text-dark);
}

.btn-cancel:hover{
    background:var(--border-color);
}

@media(max-width: 800px){
    .form-header{
        flex-direction: column;
        align-items:flex-start;
        gap:16p;
    }

    .form-action{
        flex-direction: column;
    }
    .btn{
        width:100%;
        justify-content: center;
    }
}